<div class='welcome border10'>
	<h1>Reddit Content Viewer: Welcome</h1>
	<p>This welcome page will help you explore the front-facing features of the Reddit Content Viewer. To begin, you may either register for a new account, or login to the application with the following demo login credentials:</p>
	<ul>
		<li><strong>Username:</strong> demo</li>
		<li><strong>Password:</strong> thisisapoorlychosenpassword</li>
	</ul>
</div>


