<div class='mainContentBox welcome'>
	<h1>Reddit Content Viewer: Welcome</h1>
	<p>This welcome page will help you explore the front-facing features of the Reddit Content Viewer. To begin, you may either register for a new account, or login to the application with the following demo login credentials:</p>
	<ul class='demoCreds'>
		<li>
			<span class='label'>username:</span>
			<span class='info'>demo</span>
		</li>
		<li>
			<span class='label'>password:</span>
			<span class='info'>thisisapoorlychosenpassword</span>
		</li>
	</ul>
</div>


