<% @page_menu = Menu.find_by_identifier_string('default') %>
<div class='mainContentBox feedContainer'>
  <h1>My Default Feed (<%= @lvp.title %>)</h1>
  <div class='feedWrapper'>
    <% @lvp.listingItems.each do |item| %>
      <%= display_listing_item(item) %>
    <% end %>
  </div>
  <br>
  <br>
  <br>
  <div class='feedNavigation'>
    <% if @lvp.hasPrevious %>
      <%= link_to 'Previous', {:action => 'default', :controller => 'feed'}.merge(@lvp.previousLinkParams) %>
    <% end %>
    <% if @lvp.hasPrevious && @lvp.hasNext %>
      &nbsp;&nbsp;&middot;&nbsp;&nbsp;
    <% end %>
    <% if @lvp.hasNext %>
      <%= link_to 'Next', {:action => 'default', :controller => 'feed'}.merge(@lvp.nextLinkParams) %>
    <% end %>
  </div>
  <br>
  <br>
  <br>



</div>

