<% @page_menu = Menu.find_by_identifier_string('default') %>
<div class='mainContentBox feedContainer'>
  <h1>My Default Feed</h1>
  <div class='feedWrapper'>
    <% @listingItems.each do |item| %>
      <%= display_listing_item(item) %>
    <% end %>
  </div>
  <br>
  <br>
  <br>
  <div class='feedNavigation'>
    <% if @has_previous %>
      <%= link_to 'Previous', {:action => 'default', :controller => 'feed', :before => @has_previous, :count => @has_previous_count} %>
    <% end %>
    <% if @has_previous && @has_next %>
      &nbsp;&nbsp;&middot;&nbsp;&nbsp;
    <% end %>
    <% if @has_next %>
      <%= link_to 'Next', {:action => 'default', :controller => 'feed', :after => @has_next, :count => @has_next_count} %>
    <% end %>
  </div>
  <br>
  <br>
  <br>



</div>

