/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require reset.css
 *= require_self
 *= require_tree .
 */

body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	min-width: 875px;
}

ul {
	margin-top: 10px;
	margin-left: 10px;
}

strong {
	font-weight: bold;
}

a {
	color:#55b;
	text-decoration: none;
}

a:visited {
	color:#55b;
}
a:hover {
	text-decoration: underline;
}

.codeFont {
	font-family: "Courier New", Courier, monospace;
}

.headerBar {
	border-bottom:1px solid #777;
	height:50px;
	background-color: #eee;
}

a.headerBarTitle {
	font-size: 30px;
	text-decoration: none;
	color: #fa2222;
	font-style: italic;
	font-weight: bold;
	position: relative;
	top:10px;
	left:15px;
}

a.headerBarTitle:hover {
	color: #fd5500;
}

.headerUserLogin {
	position:absolute;
	right:20px;
	top:20px;
	
}

.headerUserLogin a {
	font-size:12px;
	color:#55b;
	text-decoration: none;
}

.headerUserLogin a:visited {
	color:#55b;
}
.headerUserLogin a:hover {
	text-decoration: underline;
}

.headerUserLogin .userLoginUsername {
	font-size: 14px;
}

.flashNotice {
	width:500px;
	border:1px solid black;
	margin: 0px auto;
	margin-top: 20px;
	padding: 5px;
	font-size:14px;
	padding-left:10px;
	position: relative;
}

.fnPositive {
	border-color: green;
	background-color: #dfd;
}

.fnNegative {
	border-color: red;
	background-color: #fdd;
}

.fnClose {
	cursor: pointer;
	font-size: 8px;
	width:10px;
	height: 10px;
	position: absolute;
	right:5px;
	top:5px;
	border:1px solid #888;
	padding: 0px;
	text-align: center;
	line-height: 10px;
	background-color: #fff;
	color:#222;
}

.fnClose:hover {
	background-color: #ddd;
	color:#222	;
}

.allWrapper {
}

.pageMenu {
	width:150px;
	min-height: 100px;
	float: left;
	margin-top: 30px;
	font-size:13px;
	line-height: 20px;
}

.pageMenu ul.pmFirst {
	padding-left: 10px;
	border-right:1px solid #555;
}


.mainContentBox {
	border:1px solid #bbb;
	margin: 0px auto;
	margin-top:20px;
	padding:15px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	
}

.mainContentBox h1 {
	font-size: 28px;
	padding-bottom: 10px;
}

.littleNote {
	font-size:10px;
}

.welcome {
	width:700px;
	min-height: 200px;
	line-height: 25px;
	font-size: 16px;
}

.welcome h1 {
	font-size: 28px;
	padding-bottom: 10px;
}

.welcome ul.demoCreds {
	font-size: 14px;
	margin:20px;
	margin-left: 30px;
}

.welcome ul.demoCreds .label {
	color:#555;
	font-style: italic;
}

.welcome ul.demoCreds .info {
	letter-spacing: 0.3px;
	margin-left: 10px;
	
}

.formErrorsExplanation {
	font-size: 12px;
	margin-bottom:15px;
}

.formErrorsExplanation h2{
	font-size: 13px;
	color:#c33;
}

.field_with_errors {
	background-color: #e88;
}

.loginBox {
	width:300px;
	line-height: 25px;
}

.loginBox h1 {
	font-size: 18px;
}

.loginBox label {
	font-size: 14px;
}

.registerAccountBox {
	width:400px;
}

.registerAccountBox h1 {
	font-size: 18px;
}

.registerAccountBox td {
	font-size: 14px;
}


.feedContainer {
	margin-left: 175px;
	border:0;
	width:850px;
	
}

.feedWrapper {
	position: relative;
}

.infoTable {
	width:700px;
	border-collapse:collapse;
	table-layout: fixed;
	font-size:16px;
	margin-bottom: 15px;

}

.infoTable, .infoTable th, .infoTable td {
	border:1px solid #555;
}

.infoTable th, .infoTable td {
	height:25px;
	vertical-align: middle;
	padding-top: 10px;
	padding-bottom: 10px;
}

.infoTable td {
	padding-left: 10px;
}

.infoTable td.itCentered {
	padding-left: 0px;
	text-align: center;
}

.infoTable th {
	font-weight: bold;
}

.infoTable .shrinkText {
	font-size:14px;
}

.updateFormTable td {
	padding-top:5px;
	padding-bottom:5px;
	line-height: 20px;
}

.updateFormTable td.frozen {
	background-color: #eee;
	color:#555;
}

/*.uftAttribute {*/
.updateFormTable td:nth-child(1) {
	padding-right: 10px;
}

.uftValue {

}


.border10 {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.border5 {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.clearBoth {
	clear:both;
}