/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require reset.css
 *= require_self
 *= require_tree .
 */

body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	min-width: 875px;
}

ul {
	margin-top: 10px;
	margin-left: 10px;
}

strong {
	font-weight: bold;
}

.codeFont {
	font-family: "Courier New", Courier, monospace;
}

.headerBar {
	border-bottom:1px solid #777;
	height:50px;
	background-color: #eee;
}

.headerBarTitle {
	font-size: 30px;
	text-decoration: none;
	color: #fa2222;
	font-style: italic;
	font-weight: bold;
	position: relative;
	top:10px;
	left:10px;
}

.headerUserLogin {
	position:absolute;
	right:20px;
	top:20px;
	
}

.headerUserLogin a {
	font-size:12px;
	color:#55b;
	text-decoration: none;
}

.headerUserLogin a:visited {
	color:#55b;
}
.headerUserLogin a:hover {
	text-decoration: underline;
}

.headerUserLogin .userLoginUsername {
	font-size: 14px;
}

.flashNotice {
	width:500px;
	border:1px solid green;
	margin: 5px auto;
	padding: 5px;
}

.fnPositive {
	border-color: green;
	background-color: #dfd;
}

.mainContentBox {
	border:1px solid #bbb;
	margin: 0px auto;
	margin-top:20px;
	padding:15px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.mainContentBox h1 {
	font-size: 28px;
	padding-bottom: 10px;
}

.welcome {
	width:800px;
	min-height: 200px;
	line-height: 25px;
	font-size: 16px;
}

.welcome h1 {
	font-size: 28px;
	padding-bottom: 10px;
}

.welcome ul.demoCreds {
	font-size: 14px;
	margin:20px;
	margin-left: 30px;
}

.welcome ul.demoCreds .label {
	color:#555;
	font-style: italic;
}

.welcome ul.demoCreds .info {
	letter-spacing: 0.3px;
	margin-left: 10px;
	
}

.loginBox {
	width:300px;
	line-height: 25px;
}

.loginBox h1 {
	font-size: 18px;
}

.loginBox label {
	font-size: 14px;
}

.registerAccountBox {
	width:400px;
}

.registerAccountBox h1 {
	font-size: 18px;
}

.registerAccountBox td {
	font-size: 14px;
}

.border10 {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.border5 {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}


