<% if menu %>
  <div class='pageMenu'>
    <% menuItems = menu.menu_items %>
    <ul class='pmFirst'>
      <% menuItems.each do |item| %>
        <li>
          <% if item.identifier_string == 'displayAllFeedListingSubscriptions' %>
            <% listingOwnerships = ListingOwnership.where(:user_id => session[:user_id]).ordered %>
            <ul>
            <% listingOwnerships.each do |listing| %>
              <% if listing.removable  %>
                <li>
                  <%= link_to_unless_current listing.title, {:action => 'view', :id => listing.id, :controller => 'feed'} %>
                </li>
              <% end %>
            <% end %>
          </ul>
          <% else %>
            <%= link_to_unless_current item.display_name, {:action => item.link_action, :controller => item.link_controller} %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>